
MyFristOpenGLWindow/Debug/world.obj
MyFristOpenGLWindow/Debug/vertexShader.obj
MyFristOpenGLWindow/Debug/vc142.pdb
MyFristOpenGLWindow/Debug/vc142.idb
MyFristOpenGLWindow/Debug/util.obj
MyFristOpenGLWindow/Debug/transformComponent.obj
MyFristOpenGLWindow/Debug/time.obj
MyFristOpenGLWindow/Debug/textureManager.obj
MyFristOpenGLWindow/Debug/texture.obj
MyFristOpenGLWindow/Debug/systemManager.obj
MyFristOpenGLWindow/Debug/system.obj
MyFristOpenGLWindow/Debug/singleton.obj
MyFristOpenGLWindow/Debug/shaderProgram.obj
MyFristOpenGLWindow/Debug/shaderManager.obj
MyFristOpenGLWindow/Debug/shaderFactory.obj
MyFristOpenGLWindow/Debug/shader.obj
MyFristOpenGLWindow/Debug/sceneSystem.obj
MyFristOpenGLWindow/Debug/sceneManager.obj
MyFristOpenGLWindow/Debug/scene.obj
MyFristOpenGLWindow/Debug/renderManager.obj
MyFristOpenGLWindow/Debug/renderComponent.obj
MyFristOpenGLWindow/Debug/render.obj
MyFristOpenGLWindow/Debug/MyFristOpenGLWindow.res
MyFristOpenGLWindow/Debug/MyFristOpenGLWindow.log
MyFristOpenGLWindow/Debug/MyFristOpenGLWindow.exe.recipe
MyFristOpenGLWindow/Debug/MyFristO.D89EDB2E.tlog/rc.write.1.tlog
MyFristOpenGLWindow/Debug/MyFristO.D89EDB2E.tlog/rc.read.1.tlog
MyFristOpenGLWindow/Debug/MyFristO.D89EDB2E.tlog/rc.command.1.tlog
MyFristOpenGLWindow/Debug/MyFristO.D89EDB2E.tlog/MyFristOpenGLWindow.lastbuildstate
MyFristOpenGLWindow/Debug/MyFristO.D89EDB2E.tlog/link.write.1.tlog
MyFristOpenGLWindow/Debug/MyFristO.D89EDB2E.tlog/link.read.1.tlog
MyFristOpenGLWindow/Debug/MyFristO.D89EDB2E.tlog/link.command.1.tlog
MyFristOpenGLWindow/Debug/MyFristO.D89EDB2E.tlog/CL.write.1.tlog
MyFristOpenGLWindow/Debug/MyFristO.D89EDB2E.tlog/CL.read.1.tlog
MyFristOpenGLWindow/Debug/MyFristO.D89EDB2E.tlog/CL.command.1.tlog
MyFristOpenGLWindow/Debug/materialManager.obj
MyFristOpenGLWindow/Debug/material.obj
MyFristOpenGLWindow/Debug/main.obj
MyFristOpenGLWindow/Debug/instance.obj
MyFristOpenGLWindow/Debug/inputSystem.obj
MyFristOpenGLWindow/Debug/glWindow.obj
MyFristOpenGLWindow/Debug/glad.obj
MyFristOpenGLWindow/Debug/fragmentShader.obj
MyFristOpenGLWindow/Debug/fileUtil.obj
MyFristOpenGLWindow/Debug/entityTransformSystem.obj
MyFristOpenGLWindow/Debug/entityRenderSystem.obj
MyFristOpenGLWindow/Debug/entityRelationSystem.obj
MyFristOpenGLWindow/Debug/entityDestorySystem.obj
MyFristOpenGLWindow/Debug/entityCreateSystem.obj
MyFristOpenGLWindow/Debug/entityComponentSystem.obj
MyFristOpenGLWindow/Debug/entity.obj
MyFristOpenGLWindow/Debug/coordinateType.obj
MyFristOpenGLWindow/Debug/component.obj
MyFristOpenGLWindow/Debug/cameraManager.obj
MyFristOpenGLWindow/Debug/cameraControlSystem.obj
MyFristOpenGLWindow/Debug/camera.obj
MyFristOpenGLWindow/Debug/box.obj
Debug/MyFristOpenGLWindow.pdb
Debug/MyFristOpenGLWindow.ilk
Debug/MyFristOpenGLWindow.exe
.vs/MyFristOpenGLWindow/v16/ipch/AutoPCH/e32e21860feae481/CAMERAMANAGER.ipch
.vs/MyFristOpenGLWindow/v16/ipch/AutoPCH/d7c7a9d8f6566d87/WORLD.ipch
.vs/MyFristOpenGLWindow/v16/ipch/AutoPCH/d3da44b8e69bcacc/TRANSFORMCOMPONENT.ipch
.vs/MyFristOpenGLWindow/v16/ipch/AutoPCH/c104a841300b0f12/MAIN.ipch
.vs/MyFristOpenGLWindow/v16/ipch/AutoPCH/9f24bb24b2ae9fd2/SYSTEMMANAGER.ipch
.vs/MyFristOpenGLWindow/v16/ipch/AutoPCH/97e2943c7fe8705a/ENTITYTRANSFORMSYSTEM.ipch
.vs/MyFristOpenGLWindow/v16/ipch/AutoPCH/88f7e42b4c130d50/SCENEMANAGER.ipch
.vs/MyFristOpenGLWindow/v16/ipch/AutoPCH/83168860705690b/MAIN.ipch
.vs/MyFristOpenGLWindow/v16/ipch/AutoPCH/77c8a781a57a0313/RENDER.ipch
.vs/MyFristOpenGLWindow/v16/ipch/AutoPCH/6b6ec92be15048bb/INPUTSYSTEM.ipch
.vs/MyFristOpenGLWindow/v16/ipch/AutoPCH/5d2521b853539233/CAMERACONTROLSYSTEM.ipch
.vs/MyFristOpenGLWindow/v16/ipch/AutoPCH/28046a21ac81c9de/COORDINATETYPE.ipch
.vs/MyFristOpenGLWindow/v16/ipch/AutoPCH/22acc06579324768/RENDERCOMPONENT.ipch
.vs/MyFristOpenGLWindow/v16/ipch/AutoPCH/16ecb5e74e0ef52c/GLWINDOW.ipch
.vs/MyFristOpenGLWindow/v16/Browse.VC.db
.vs/MyFristOpenGLWindow/v16/.suo
MyFristOpenGLWindow/x64/Debug/glad.obj
MyFristOpenGLWindow/x64/Debug/MyFristO.D89EDB2E.tlog/CL.command.1.tlog
MyFristOpenGLWindow/x64/Debug/MyFristO.D89EDB2E.tlog/CL.read.1.tlog
MyFristOpenGLWindow/x64/Debug/MyFristO.D89EDB2E.tlog/CL.write.1.tlog
MyFristOpenGLWindow/x64/Debug/MyFristO.D89EDB2E.tlog/MyFristOpenGLWindow.lastbuildstate
MyFristOpenGLWindow/x64/Debug/MyFristO.D89EDB2E.tlog/unsuccessfulbuild
MyFristOpenGLWindow/x64/Debug/MyFristOpenGLWindow.log
MyFristOpenGLWindow/x64/Debug/vc142.idb
MyFristOpenGLWindow/x64/Debug/vc142.pdb
.vs/MyFristOpenGLWindow/v16/Browse.VC.db-shm
.vs/MyFristOpenGLWindow/v16/Browse.VC.db-wal
.vs/MyFristOpenGLWindow/v16/Browse.VC.opendb
.vs/MyFristOpenGLWindow/v16/ipch/AutoPCH/6f0aa0411277b4aa/BOX.ipch
MyFristOpenGLWindow/Debug/directionalLightComponent.obj
MyFristOpenGLWindow/Debug/lightSystem.obj
MyFristOpenGLWindow/Debug/pointLightComponent.obj
MyFristOpenGLWindow/Debug/spotLightComponent.obj
